name: Update Dashboards & Deploy
permissions:
  contents: read
on:
  push:
    branches:
      - main

jobs:
  provision_grafana:
    name: "Provision Grafana"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Connect to Tailscale
      uses: tailscale/github-action@v4
      with:
        oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
        oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
        tags: tag:github-actions

    - name: Install dependencies
      run: sudo apt-get install -y jq

    - name: Get UNIX_TIMESTAMP
      run: |
        UNIX_TIMESTAMP=$(date +%s)
        echo "UNIX_TIMESTAMP=$UNIX_TIMESTAMP" >> $GITHUB_ENV

    - name: Update Dashboards
      env:
        DASHBOARD_DIR: "./grafana/dashboards"
        GRAFANA_URL: ${{ secrets.GRAFANA_URL }}
        GRAFANA_API_KEY: ${{ secrets.GRAFANA_API_KEY }}
        COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        UNIX_TIMESTAMP: ${{ env.UNIX_TIMESTAMP }}
      run: |
        chmod +x grafana/update_dashboards.sh
        ./grafana/update_dashboards.sh
    - name: Update Contact Points
      env:
        DASHBOARD_DIR: "./grafana/dashboards"
        GRAFANA_URL: ${{ secrets.GRAFANA_URL }}
        GRAFANA_API_KEY: ${{ secrets.GRAFANA_API_KEY }}
        SECRET_DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
      run: |
        chmod +x grafana/update_contact_points.sh
        ./grafana/update_contact_points.sh
  deploy:
    name: Deploy Grafana
    runs-on: ubuntu-latest
    needs: provision_grafana
    env:
      GRAFANA_HOST: "prx1-grafana"
      DOCKER_CONTEXT_NAME: grafana-ctx
      DOCKER_PROJECT_NAME: grafana
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-actions

      - name: Run command on remote server via SSH
        env:
          HOSTNAME: ${{ env.GRAFANA_HOST }}
          USERNAME: ${{ secrets.SSH_USERNAME }}
        run: |
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ${{ env.USERNAME }}@${{ env.HOSTNAME }} <<'EOF'
          cd /data/grafana
          git pull origin main
          EOF

      - name: Set up Docker context
        run: |
          docker context \
            create ${{ env.DOCKER_CONTEXT_NAME }} \
            --docker host="tcp://${{ env.GRAFANA_HOST }}:2375"

      - name: Deploy with Docker Compose
        run: |
          docker --context ${{ env.DOCKER_CONTEXT_NAME }} compose \
            --project-name ${{ env.DOCKER_PROJECT_NAME }} up -d --remove-orphans --force-recreate

      - name: Cleanup Docker context
        if: always()
        run: |
          docker context rm ${{ env.DOCKER_CONTEXT_NAME }} --force
